@import url('style.css');

main {
    padding: 15px;
}
section#list-album{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
#bloc-list {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;  
}
.card-album {
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-album a {
    text-decoration: none;
}
a > h3 {
    font-size: 1.1em;
    text-decoration: none;
    text-align: center;
}
.card-album img {
    height: 75px;
    width: auto;
    object-fit: cover;
}
.card-album p, .card-album time {
    font-size: 0.8em;
    text-align: center;
}
.card-album time {
    font-weight: bold;
    font-size: 1em;
}
.card-album a {
    height: 25px;
    width: 100%;
    margin: 0 2px 0 2px;
}
.card-album a:last-child {
    background-color: red;
}
.bloc-btns {
    width: 100%;
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: row;
}

a.button-type-2.active {
    background-color: greenyellow;
    color: black;
}

#link-add {
    position: relative;
    height: 40px;
    width: 150px;
    top: -40px;
    left: 20%;
}